<config xmlns="http://www.xfa.org/schema/xci/2.8/"
><agent name="designer"
><destination
>pdf</destination
><pdf
><!--  [0..n]  --><fontInfo
/></pdf
></agent
><present
><!--  [0..n]  --><pdf
><!--  [0..n]  --><version
>1.7</version
><adobeExtensionLevel
>3</adobeExtensionLevel
><renderPolicy
>client</renderPolicy
><creator
>Adobe LiveCycle Designer ES 8.2</creator
><producer
>Adobe LiveCycle Designer ES 8.2</producer
><scriptModel
>XFA</scriptModel
><interactive
>1</interactive
><tagged
>1</tagged
><fontInfo
><embed
>0</embed
></fontInfo
><compression
><level
>6</level
><compressLogicalStructure
>1</compressLogicalStructure
><compressObjectStream
>1</compressObjectStream
></compression
><linearized
>1</linearized
><silentPrint
><addSilentPrint
>0</addSilentPrint
><printerName
/></silentPrint
><viewerPreferences
><addViewerPreferences
>0</addViewerPreferences
><duplexOption
>simplex</duplexOption
><numberOfCopies
>0</numberOfCopies
></viewerPreferences
></pdf
><cache
><macroCache
/></cache
><common
><log
><to
>memory</to
><mode
>overwrite</mode
></log
><template
><base
>L:\TROPA\Forms_with_barcode\</base
></template
></common
><script
><runScripts
>server</runScripts
></script
><xdp
><packets
>*</packets
></xdp
><destination
>pdf</destination
><output
><to
>uri</to
><uri
>L:\TROPA\Forms_with_barcode\Form751.pdf</uri
></output
></present
><acrobat
><acrobat7
><dynamicRender
>required</dynamicRender
></acrobat7
><common
><versionControl sourceBelow="maintain"
/><data
><xsl
><uri
/></xsl
><outputXSL
><uri
/></outputXSL
></data
><template
><base
>L:\TROPA\Forms_with_barcode\</base
><relevant
/><uri
/></template
></common
><validate
>preSubmit</validate
></acrobat
></config
>